body {
    margin: auto;
    width: 50%;
    padding: 10px;
    align-items: center;
    background-color: lightgray;
}

hr {
    border: 0px;
}

#listing:hover {
    background-color: rgb(179, 235, 179);
}