<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/static/css/landing-style.css">
    <title>Park Display Page</title>
</head>

<body>
    <div class="ui grid">
        <div class="ten wide column"><h1 class="ui header">Park name</h1></div>
        <div class="six wide column"><img class="ui small rounded image"></div>
    </div>

    <div class="ui divider"></div>

    <div class="ui grid">
        <div class="twelve wide column">
            <div class="ui raised segment">
                <h2 class="ui header">park description</h2>
                <p>here's some cool data</p>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui raised segment">
                <h2 class="ui header">packing list</h2>
                <div class="ui bulleted list">
                    <div class="item">knife</div>
                    <div class="item">thermite</div>
                    <div class="item">bigger knife</div>
                  </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui raised fluid segments">
                {% for forecast in forecasts %}
                <div class="ui segment">
                    <p>{{forecasts[forecast]["name"]}}</p>
                    <img class="ui mini rounded image" src={{forecasts[forecast]["iconUrl"]}}>
                    <p>{{forecasts[forecast]["temperature"] | string() }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!-- <h1></h1>
    <p></p>
    <h2>Recommended Packing List</h2>
    <p></p> -->

</body></html>