<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1 style="color: blue">Basecamp</h1>
  <p>Welcome to BaseCamp</p>
  <table>
    <form action = "/" method = "post">
      <tr><td>State:</td>
        <td><input type ="text" name ="state"></td>
        <td><input type = "submit" name = "stateButton"></td>
      </tr>
    </form>
    <form action = "/coordinates" method = "post">
      <tr><td>To Coordinates:</td>
        <td><input type = "submit" name = "coordinatesButton"></td>
      </tr>
    </form>
  </table>
  <p>{{info}}</p>
</body>

</html>